:host {
  display: flex;
  background-color: white;
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 12px;
  margin-bottom: 6px;

  .todo-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    animation-duration: 0.3s;
    margin: 0.5em;
  }

  .remove-item {
    cursor: pointer;
    margin-right: 12px;
    &:hover {
      color: black;
    }
  }

  .todo-item-left {
    // later
    display: flex;
    align-items: center;
  }

  .todo-item-label {
    padding: 10px;
    border: 1px solid white;
    margin-left: 12px;
  }

  .todo-item-edit {
    font-size: 16px;
    color: #2c3e50;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; //override defaults
    font-family: "Avenir", Helvetica, Arial, sans-serif;

    &:focus {
      outline: none;
    }
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }
}
